*.idea
images/*
!images/emptyAvatar-low.jpg
!images/emptyAvatar-high.jpg
!images/emptyImage-low.jpg
!images/emptyImage-high.jpg
target/*
project/*
artifacts/*
*.un~
*.MF
*.log
*.jar
!lib/
*.bat
*.csv
!project/Dependencies.scala
!project/plugins.sbt
*.xlsx
#macOS
.DS_Store
*.icloud
remote-version.txt
.bsp
version.txt
null